{% include "header.html" %}
{% load static %}
{% static "media" as baseUrl%}

<div class="aboutus">
    <h1>About IceCarz.com</h1>
    <p>
        Welcome to IceCarz.com, your ultimate destination for all things related to supercars and sports cars!
    </p>
    <h3>Our Mission</h3>
    <p>
        At IceCarz.com, we're passionate about cars that send chills down your spine, whether it's the raw power of a
        supercar or the adrenaline rush of a sports car. Our mission is to provide enthusiasts like you with
        comprehensive information about these automotive marvels, including details about power, torque, year of
        production, and more.

    </p>
    <h3>Our Team</h3>
    <p>
        IceCarz.com is the result of the collaborative effort of a dedicated team of five students. With expertise in
        HTML, CSS, JavaScript, and Django, we've come together to create a platform that showcases our shared love for
        cars.

        Meet our team:

        Frontend Developers: Utilizing HTML, CSS, and JavaScript, we've crafted an intuitive and visually appealing
        interface that ensures a seamless browsing experience for our users.

        Backend Developer (Django): Leveraging the power of Django, our backend developer has implemented robust
        functionalities to ensure smooth data management and efficient website operations.
    </p>
    <h3>What Sets Us Apart</h3>
    <p>
        What sets IceCarz.com apart is our focus on providing information about supercars and sports cars that have
        either been discontinued or undergone facelifts. We understand the allure of classic models and the excitement
        of updated versions, and we strive to cater to enthusiasts who share our appreciation for automotive history and
        innovation.


    </p>
    <h3>Explore IceCarz.com</h3>
    <p>
        Whether you're a seasoned car aficionado or just beginning your journey into the world of high-performance
        vehicles, IceCarz.com is your go-to resource. Browse our extensive database, discover fascinating details about
        your favorite cars, and immerse yourself in the thrilling world of supercars and sports cars.

        Thank you for choosing IceCarz.com. Start exploring today!


    </p>
</div>



{% include "footer.html" %}