{% load static %}
{% static "media" as baseUrl%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href={% static "css/header.css" %}>
    <link rel="stylesheet" href={% static "css/carinfo.css" %}>
    <link rel="stylesheet" href={% static "css/brands.css" %}>
    <link rel="stylesheet" href={% static "css/allbrands.css" %}>
</head>

<div class="navbar" id="onavbar">
    <h2 class="logoo" id="ologoo">ICECAR<span>z</span></h2>
    <ul>
        <li><a href="{% url 'Home' %}" alt="home"><span>H</span>ome</a></li>
        <li><a href="{% url 'AllBrands' %}" alt="Brands"><span>B</span>rands</a></li>
        <li><a href="{% url 'AboutUs' %}" alt="About us"><span>A</span>bout Us</a></li>
    </ul>
</div>


<body>